*how to* **PRINT**

In [ ]:
#print your name
print("Jannatun Saumoon")

Jannatun Saumoon

In [ ]:
#print Hello UAP
print('Hello UAP!')

Hello UAP!

In [ ]:
#print course code
print("course code:")
print('')
print("CSE 310")

course code:

CSE 310

In [ ]:
#print Dhaka , Bangladesh.
print(' Dhaka , Bangladesh.')

 Dhaka , Bangladesh.

In [ ]:
#print THANK YOU!!
print("THANK YOU!!")

THANK YOU!!

  **VARIABLE**

In [ ]:
#print STRING
s = "i'm Saumoon"
print('hello,')
print(s)

hello,
i'm Saumoon

In [ ]:
#print int
a = 5
print(a)

5

In [ ]:
#print float
b = 5.05
print(b)

5.05

In [ ]:
#print bool
c = True
print(c)

True

In [ ]:
a = "Saumoon,"
b = 5,
c =3.1,
d = is_regular_student = True
print(a, b , c , d )

Saumoon, (5,) (3.1,) True

**Arithmetic** **operations**

In [ ]:
a = 10
b = 5
sum = a+b
print(sum)

15

In [ ]:
a = 10
b = 5
difference = a-b
print(difference)

5

In [ ]:
a = 10
b = 5
multiple = a*b
print(multiple)

50

In [ ]:
#you have 75 balls,divide these 75 balls equally among 15 people.
b = 75
p = 15
print(b/p)

5.0

In [ ]:
#divide 10 by 2,then add 5 to the quotient and multiply by 6.
a = 10
b = 2
c = 5
d =6
quotient_result = a/b
sum = quotient_result + c
multi = sum * d
print(quotient_result,sum)
print(multi)

5.0 10.0
60.0

**If Else**/control-flow

In [ ]:
a=5
b=10
c=15
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
    print(c)

15

In [ ]:
a=11
if a%2==0:
  print('even')
else:
    print('odd')

odd

In [ ]:
age = 22
if age >= 18:
  print('adult')
elif age>90:
  print('old')
else:
  print('not adult')

adult

In [ ]:
#age for job
s=24
if 18<s<55:
  print('okay')
else:
  print('reject')

okay

In [ ]:
#leap year

year=2024

if(year%4==0 and year%100!=0) or (year%400==0):
  print("leap year")
else:
  print("NOT leap year")

leap year

***String***

In [ ]:
#Concatenate two strings
string1="jannatun"
string2="saumoon"

string=string1 +" "+ string2
print(string)

jannatun saumoon

In [ ]:
# uppercase
a="Jannatun"
print(a.upper())

JANNATUN

In [ ]:
#lowercase
a= "Saumoon"
print(a.lower())

saumoon

In [ ]:
s="Saumoon 66"
print(s.split())

['Saumoon', '66']

In [ ]:
a = "Hello"
b = "Saumoon"
c = a+" i'm "+b + " " +str(66)
c
c.upper()

"HELLO I'M SAUMOON 66"

 **user** **input**

In [ ]:
#sum of two number
num1 = int(input("enter num1  "))
num2 = float(input("enter num2  "))
sum = num1 + num2
print(sum)

enter num1  5
enter num2  5.9
10.9

In [ ]:
a=int(input())
print(type(a))

5
<class 'int'>

In [ ]:
a=float(input())
print(a)

6.9
6.9

In [ ]:
name=input('Enter name: ')
age=int(input('Enter Age: '))
print (type(age))
print('Hello '+ name +'! '+'your age is '+str(age))
print (name,age)

Enter name: moon
Enter Age: 22
<class 'int'>
Hello moon! your age is 22
moon 22

**comments**

In [ ]:
# hello sir. I'm jannatun saumoon

"""
Hello Sir.
I'm Jannatun Saumoon.
roll no-66.
"""

"\nHello Sir. \nI'm Jannatun Saumoon.\nroll no-66.\n"

**Loops**

In [ ]:
#for loop
for i in range(1,50,5):
  print(i)

1
6
11
16
21
26
31
36
41
46

In [ ]:
#for loop
for i in range(100,0,-9):
  print(i)

100
91
82
73
64
55
46
37
28
19
10
1

In [ ]:
#for loop
for i in range(-25,-10,7):
  print(i)

-25
-18
-11

In [ ]:
#While Loop
count = 1
while count <= 10:
    print(count)
    count +=.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0

**LIST**

In [ ]:
#Accessing List Elements
student =["X","Y","Z"]
print(student[0])
print(student[1])
print(student[2])

print(student)

X
Y
Z
['X', 'Y', 'Z']

In [ ]:
#Modifying List Elements:
student =["X","Y","Z"]
student[1]="SAUMOON"
print(student[0])
print(student[1])
print(student[2])

print(student)

X
SAUMOON
Z
['X', 'SAUMOON', 'Z']

In [ ]:
#Adding Elements to a List
student =["X","Y","Z"]

student.append("ABC")

print(student[0])
print(student[1])
print(student[2])

print(student)

X
Y
Z
['X', 'Y', 'Z', 'ABC']

In [ ]:
#Removing Elements from a List:
student =["X","Y","Z"]

removed_student = student.pop(0)

print(student)

print(removed_student)

['Y', 'Z']
X

In [ ]:
#List Length:
student =["X","Y","Z"]

print(len(student))

3

In [ ]:
#List Concatenation:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
combined_list = list1 + list2
combined_list

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#List Slicing
student = [0, 1, 2, 3, 4, 5]
subset = student[2:55]  # This will create a new list [2, 3, 4]
subset

[2, 3, 4]

**FUNCTIONS**

In [ ]:
#value using function method
def x(a,b,c=66):
  print(a)
  print(b)
  print(c)
x(65,67)

65
67
66

In [ ]:
#Calling a Function
 #greet("ABC")

def greet(name):
  print("Hello," + name + "!")
greet("ABC")

Hello,ABC!

In [ ]:
def add(a, b= 10):
    return a + b

result = add(10, 5)
print(result)

15

In [ ]:
def greet(name, greeting="Hello"):
    return f"{greeting}, {name}!"

print(greet("xyz"))
print(greet("abc", "Hi"))

Hello, xyz!
Hi, abc!

In [ ]:
def f1(a,b):
  return [a+b, a*b]
type(f1(2,3))

list

In [ ]:
#add
def add(a,b=4):
  return a+b
x=add(10,5)
print(x)

15

In [ ]:
def add(a,b,c):
  print('first >>',a)
  print('second >>',b)
  print('third >>',c)

add(a=10,c=100,b=20)

first >> 10
second >> 20
third >> 100

**Tuple**

In [ ]:
#access individual elements
SAUMOON=(66,310)
print(SAUMOON[0])
print(SAUMOON[1])

66
310

In [ ]:
#Packing tuple
name='saumoon'
age=22

name_and_age=("saumoon",22)
print(name)
print(age)

saumoon
22

In [ ]:
#Unpacking tuple
name,age=name_and_age
print(name)
print(age)

saumoon
22

In [ ]:
#loop for iterator each elements in a tuple

favourites=("sleeping","travelling")
for favourite in favourites:
  print(favourite)

sleeping
travelling

In [ ]:
#tuple length
print(len(favourites))

2

In [ ]:
#combined tuple
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

**DICTIONARY**

In [ ]:
#access values in dictionary
myself={
    "name":"saumoon",
    "age": 22,
    "major":"computer-science"
}
print(myself["name"])
print(myself["major"])

saumoon
computer-science

In [ ]:
#change value
myself["age"]=22
print(myself["age"])

22

In [ ]:
#adding values
myself["gender"]="Female"
print(myself)

{'name': 'saumoon', 'age': 22, 'major': 'computer-science', 'gender': 'Female'}

In [ ]:
# delete value
del myself["age"]
print(myself)

{'name': 'saumoon', 'major': 'computer-science', 'gender': 'Female'}

In [ ]:
#Check age exist or not
if "age" in myself:
  print("Age:",myself["age"])
else:
  print("Age is not found")

Age is not found

In [ ]:
#Print keys and values
keys=myself.keys()
values=myself.values()
print(keys)
print(values)

dict_keys(['name', 'major', 'gender'])
dict_values(['saumoon', 'computer-science', 'Female'])